extends layout

block content
    // Main jumbotron for a primary marketing message or call to action
    .jumbotron#welcome
      .container
        h1 Hello, world!
        p
          | We hold weekly workshops in different programming languages of any and all coding backgrounds.
        p
          a.btn.btn-primary.btn-lg(role='button' href='https://docs.google.com/forms/d/e/1FAIpQLScRKgl_xetENRYs-2O1DSPXywdMhEBx22vs_97mIThf_KaAaQ/viewform?usp=sf_link') Sign up &raquo;
    .container
      // Example row of columns
      .row
        .col-md-4
          h2 Website under construction
          p 
            | We will be updating the website over the summer in preperation for the fall semester. In the meantime you can sign up above to receive updates from us.
    footer
      .container
        p &copy; Programmers in Science and Engineering 2017
